.form {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	border-radius: 4px;
	width: 400px;
	height: 200px;
	justify-content: space-around;
}

.field {
	font: inherit;
	padding: 4px;
}

.btn {
	width: 100px;
	height: 30px;
	margin: 0 auto;
}

.wrap {
	display: flex;
	gap: 20px;
	align-items: center;
	padding: 20px 20px 0px 20px;
}

.label {
	margin-right: 15px;
}
